In [1]:
print(type(i))

NameError: name 'i' is not defined

In [2]:
print(type(52))

<class 'int'>

In [3]:
print(type(ii))

NameError: name 'ii' is not defined

In [8]:
age = ii
print(type(age))

NameError: name 'ii' is not defined

In [9]:
fitness = 'average'
print(type(fitness))

<class 'str'>

In [10]:
print('hello' - 'h')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [11]:
print('hello' + 'h')

helloh

In [12]:
print('hello' * 'h')

TypeError: can't multiply sequence by non-int of type 'str'

In [13]:
full_name = 'Ahmed' + ' ' + 'Walsh'
print(full_name)

Ahmed Walsh

In [14]:
print(len(full_name))

11

In [15]:
print(1 + int('2'))
print(str(1) + '2')

3
12

In [19]:
var1 = "hello"
var2 = 100
var3 = 7.52
print(type(var1),type(var2),type(var3))

<class 'str'> <class 'int'> <class 'float'>

In [20]:
a = 2 ** 2 
b = 5.7 ** 2
print(type(a),type(b))

<class 'int'> <class 'float'>

In [21]:
n = "hello"
m = "world"

In [22]:
n - m

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [23]:
n + m

'helloworld'

In [24]:
'n' + 'm"

SyntaxError: unterminated string literal (detected at line 1) (1622132725.py, line 1)

In [25]:
a = 3
b = 4
c = (a**2 + b**2) ** 0.5

In [26]:
print(int'c')

SyntaxError: invalid syntax (990570987.py, line 1)

In [27]:
print('c')

c

In [28]:
print(c)

5.0

In [29]:
print(int('c'))

ValueError: invalid literal for int() with base 10: 'c'

In [31]:
print(('a') + " squared equals " + str('b') + " squared " + str('c') + " squared.")

a squared equals b squared c squared.